<section class="post-neighbours">
    <!-- Previous Post -->
    {% if page.previous.url %}
    <a
        href="{{ page.previous.url }}"
        title="{{ page.previous.title }}"
        style="text-align: left"
        >{{page.previous.title}} <br />
        {{ page.next.date | date: "%d %b, %Y" }}</a
    >
    {% endif %}
    <!-- Next Post -->
    {% if page.next.url %}
    <a
        href="{{ page.next.url }}"
        title="{{ page.next.title }}"
        style="text-align: right"
        >{{page.next.title}} <br />
        {{ page.next.date | date: "%d %b, %Y" }}</a
    >
    {% endif %}
</section>
