---
layout: default
---

<div class="home">
    {{ content }} {%- if site.posts.size > 0 -%}
    <ul class="post-list">
        {% for post in paginator.posts %}
        <li>
            {%- assign date_format = site.minima.date_format | default: "%b %-d,
            %Y" -%}
            <a class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title | escape }}
            </a>
            <span class="post-meta">{{ post.date | date: "%d %b" }}</span>
            {%- if site.show_excerpts -%} {{ post.excerpt }} {%- endif -%}
        </li>
        {% endfor %}
    </ul>
    {%- endif -%} {%- include pagination.html -%}
</div>
